{% extends 'base.html' %}

{% block title %}start add{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/common/form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/join/add.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" >
{% endblock %}

{% block header %}<h2>create your account</h2>{% endblock %}

{% block form %}
    <div class="form_wrapper">
        <form class="join_form" action="{{ url_for('join.create_account')}}" method="POST">
            <table class="add_table">
                <tr>
                    <td>name:</td>
                    <td><input type="text" name="name" placeholder="your name" required></td>
                </tr>
                <tr>
                    <td>gender:</td>
                    <td>
                        <select name="gender" required>
                        <option value="male">male</option>
                        <option value="female">female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>birthdate:</td>
                    <td><input type="date" name="birthdate" min="1925-01-01" max="{{today}}" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit"> +Create Account</button></td>
                </tr>
            </form>
        </div>
{% endblock %}
