<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="#">User</a>
        <a href="#">Store</a>
        <a href="#">Item</a>
        <a href="#">Order</a>
        <a href="#">OrderItem</a>
    </nav>

    {% block header %}{% endblock %}
    
    {% block content %}{% endblock %}

    {% block pagination %}{% endblock %}
</body>
</html>