{% extends 'base.html' %}

{% block title %}store detail{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/detail.css')}}">
{% endblock %}

{% block header %}
<div class="store_detail_header">
    <div class="back_wrapper">
        <a href="{{url_for('store.index')}}">
            < back  
        </a>
    </div>
    <h2 class="header_name">store detail</h2>
</div>
{% endblock %}




{% block content %}
    <div table="detail_table_wrapper">
        <table>
            <tr>
                {% for key,value in store.items() %}
                    {% if key != 'Id' %}
                        <th>{{key}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                {% for key,value in store.items() %}
                    {% if key != 'Id' %}
                        <th>{{value}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    



    <table>
        <tr>
            <th>Month</th>
            <th>Revenue</th>
            <th>Count</th>
        </tr>
        {% for row in rev %}
            <tr>
                {% if row.Month %}
                    <td><a href="{{url_for('store.get_store_detail',rev_month=row.Month, storeId=store.Id)}}">{{row.Month}}</a></td>
                {% elif row.Day %}
                    <td>{{row.Day}}</td>
                {% endif %}
                <td>{{row.Rev}}</td>
                <td>{{row.OrderitemCount}}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>Frequency</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="{{url_for('user.get_user_detail', userId=user.UserId)}}">{{user.UserId}}</a></td>
            <td>{{user.UserName}}</td>
            <td>{{user.Frequency}}</td>
        </tr>
        {% endfor %}
    </table>

    </div>
{% endblock %}