{% extends 'base.html' %}

{% block title %} stores {% endblock %}

{% block header %}<h2>store page</h2>{% endblock %}


{% block content %}                    
    <table>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        {% for store in stores %}
        <tr>
            <td><a href="{{url_for('store.get_store_detail', storeId=store.Id)}}">{{store.Id}}</a></td>
            <td>{{store.Type}}</td>
            <td>{{store.Name}}</td>
            <td>{{store.Address}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

    

{% block pagination %}
    <div>
            
    {% if 1<page_now <= total_page %}
        <a href="{{url_for('store.index', page=page_now -1)}}"><</a>
    {% else %}
        <
    {% endif %}
    
    {% if page_now <= 2 %}
        {% set start=1 %}
        {% set stop=6 %}
    {% elif total_page-1<=page_now==total_page %}
        {% set start=total_page-4 %}
        {% set stop=total_page+1 %}
    {% else %}
        {% set start=page_now-2 %}
        {% set stop=page_now+3 %}
    {% endif %}       
     
    {% for i in range(start,stop) %}
        {% if 0<i<=total_page+1 %}
            <a href="{{url_for('store.index', page=i)}}">{{i}}</a>
        {% endif %}
    {% endfor %}

    {% if page_now < total_page %}
        <a href="{{url_for('store.index', page=page_now+1)}}">></a>
    {% else %}
        >
    {% endif %}

    </div>
{% endblock %}
