{% extends 'base.html' %}

{% block title %} stores {% endblock %}

{% block header %}<h2>store</h2>{% endblock %}


{% block content %}                    
    <table>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        {% for store in stores %}
        <tr>
            <td><a href="{{url_for('store.get_store_detail', storeId=store.Id)}}">{{store.Id}}</a></td>
            <td>{{store.Type}}</td>
            <td>{{store.Name}}</td>
            <td>{{store.Address}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

    

{% block pagination %}
   {% include 'components/pagination.html' %}
{% endblock %}
