<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Bitcount:wght@100..900&family=Oswald:wght@200..700&display=swap" >

    {% block extra_head %}{% endblock %}

</head>
<body>
    <div class="nav_wrapper">
        <nav>
            <a href="{{url_for('user.index')}}">User</a>
            <a href="{{url_for('store.index')}}">Store</a>
            <a href="{{url_for('item.index')}}">Item</a>
            <a href="{{url_for('order.index')}}">Order</a>
            <a href="{{url_for('orderitem.index')}}">OrderItem</a>
        </nav>
    </div>

    <div class="header_wrapper">
        {% block header %}{% endblock %}
    </div>

    {% block form %}{% endblock %}
    
    <div class="content_wrapper">
        {% block content %}{% endblock %}
    </div>
    
    <div class="pagination_wrapper">
        {% block pagination %}{% endblock %}
    </div>    
</body>
</html>