<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="{{url_for('user.index')}}">User</a>
        <a href="{{url_for('store.index')}}">Store</a>
        <a href="{{url_for('item.index')}}">Item</a>
        <a href="{{url_for('order.index')}}">Order</a>
        <a href="{{url_for('orderitem.index')}}">OrderItem</a>
    </nav>

    {% block header %}{% endblock %}
    
    {% block content %}{% endblock %}

</body>
</html>