body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 209, 27);
}

.nav_wrapper {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: red;
    width: 100vw;
    height: 80px;
    border: none;
    border-bottom : 5px solid yellow;
}

nav a {
    font-size: 48px;
    color: rgb(250, 209, 27);
    text-decoration: none;
    font-family: "Bitcount", system-ui;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 100,
    "ELXP" 0;
}

nav a:hover{
    text-decoration: underline;
    color: yellow
}

.header_wrapper {
    border: 1px solid blue;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    font-family: "Bitcount", system-ui;
}


h2 {
    border: 1px solid blue;
    margin-top: 200px;
    font-size: 64px;

}

.content_wrapper {
    border: 5px solid purple;
    display: flex;
    justify-content: center;
}

.table_wrapper {
    border: 5px solid green;
    display: flex;
    justify-content: center;
}

table {
    width: 1200px;
    border: 5px solid yellow;
    border-collapse: collapse;
    text-align: center;
}

th {
    padding: 15px;
    border-bottom: 4px solid yellow;
    background-color: red;
    color:rgb(250, 209, 27);
    font-family: "Bitcount", system-ui;
    font-size: 30px
}

td {
    padding: 10px;
    height: 40px;
    border-bottom: 2px solid yellow;
    background-color: rgb(250, 209, 27);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

a:not(nav a):not(.pagination a):not(.back_wrapper a):not(th a) {
    color: red;
    text-decoration: none;
}

a:hover:not(nav a):not(.pagination a) {
    color: yellow;
}

a:visited:not(nav a):not(.pagination a):not(.back_wrapper a) {
    color: grey;
}

a:visited:hover:not(nav a):not(.pagination a):not(.back_wrapper a) {
    color: black;
}

.pagination_wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border: 1px solid black;
    width: 400px;
    height: 100px;
    gap: 10px;
    font-size: 45px;
    font-family: "Bitcount", system-ui;
}

.pagination a {
    color: black;
    text-decoration: none;
}

.pagination a.active {
    color: yellow;
}

th a {
    color: black;
    text-decoration: none;
}

th a:hover {
    color: yellow;
}


.back_wrapper a{
    color: black;
    text-decoration: none;
}저는 뾰루지가 잘 안나요 !

그리고 저는 커피를 좋아하는데, 카페인을 먹으면
심장이 폴짝폴짝 심장이 꿀렁꾸ㄹ 러어엉

그리고 저는 아아아아아 ! 부끄 러 워 !!!!

