body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 209, 27);
}

.nav_wrapper {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: red;
    width: 100vw;
    height: 80px;
    border: none;
    border-bottom : 5px solid yellow;
}

nav a {
    font-size: 48px;
    color: rgb(250, 209, 27);
    text-decoration: none;
    font-family: "Bitcount", system-ui;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 100,
    "ELXP" 0;
}

nav a:hover{
    text-decoration: underline;
    color: yellow
}

.header_wrapper {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}


h2 {
    margin-top: 200px;
    font-size: 64px;
    font-family: "Bitcount", system-ui;
}

.content_wrapper {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}

table {
    width: 1000px;
    border: 5px solid yellow;
    border-collapse: collapse;
    text-align: center;
}

th {
    padding: 15px;
    border-bottom: 4px solid yellow;
    background-color: red;
    color:rgb(250, 209, 27);
    font-family: "Bitcount", system-ui;
    font-size: 30px
}

td {
    padding: 10px;
    border-bottom: 2px solid yellow;
    background-color: rgb(250, 209, 27);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a:not(nav a):not(.pagination a){
    color: yellow;
    text-decoration: none;
}

a:hover:not(nav a):not(.pagination a) {
    color: black;
}

a:visited:not(nav a):not(.pagination a) {
    color: grey;
}

a:visited:hover:not(nav a):not(.pagination a) {
    color: black;
}

.pagination_wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    height: 500px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border: 1px solid black;
    width: 400px;
    height: 100px;
    gap: 10px;
    font-size: 45px;
    font-family: "Bitcount", system-ui;
}

.pagination a {
    color: black;
    text-decoration: none;
}

.pagination a.active {
    color: yellow;
}



