{% extends 'base.html' %}

{% block title %}order{% endblock %}

{% block header %}<h2>order</h2>{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Id</th>
            <th>OrderAt</th>
            <th>StoreId</th>
            <th>UserId</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                <a href="{{url_for('orderitem.get_orderitem_detail',orderId=order.Id)}}">
                {{ order.Id }}
                </a>
            </td>
            <td>{{ order.OrderAt }}</td>
            <td>{{ order.StoreId }}</td>
            <td>{{ order.UserId }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block pagination %}
    {% include 'components/pagination.html' %}
{% endblock %}