.form_wrapper {
    margin-top: 30px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

form input, 
form select,
form button {
    height: 70px;
    box-sizing: border-box;
    line-height: 1;
}

form input,
form select {
    margin: 5px;
    background-color: red;
    border: 5px solid yellow;
    border-radius: 5px;
    font-family: "Bitcount", system-ui; 
    font-size: 32px;
}

form input {
    width: 500px;
}

form select {
    width: 150px;
}

form input::placeholder {
    color: black;
}

form button {
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Bitcount", system-ui; 
    font-size: 40px;
    transition: transform 0.2 ease;
}

form button:hover {
    transform: scale(1.2);
}
