{% extends 'base.html' %}

{% block title %}user detail {% endblock %}

{% block header %}user detail page{% endblock %}

{% block content %}
    <table>
        <tr>
            {% for key, value in user.items() %}
                {% if key != 'Id' %}
                    <th>{{key}}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in user.items() %}
                {% if key != 'Id' %}
                    <td>{{value}}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th>OrderId</th>
            <th>Purchased Date</th>
            <th>Purchased Location</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                <a href="{{url_for('orderitem.get_orderitem_detail', orderId=order.Id)}}">{{order.Id}}</a>
            </td>
            <td>{{order.OrderAt}}</td>
            <td>
                <a href="{{url_for('store.get_store_detail', storeId=order.StoreId)}}">
                    {{order.StoreId}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h3>자주 방문한 매장 Top 5</h3>
    <ul>
        {% for visit in visits %}
            <li>
            {{visit.StoreName}}
            (방문 횟수: {{visit.VisitCount}})
            </li>
        {% endfor %}
    </ul>

    <h3>자주 주문한 상품명 Top 5</h3>
    <ul>
        {% for i in ordercount %}
            <li>
            {{i.ItemName}}
            (주문 개수: {{i.OrderCount}})
            </li>
        {% endfor %}
    </ul>
{% endblock %}