{% extends "base.html" %}

{% block title %}search{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/detail.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" >
{% endblock %}

{% block header %}<h2>user </h2>{% endblock %}

{% block content %}
    <div class="detail_table_wrapper"></div>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Birthdate</th>
                <th>Address</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>
                    <a href="{{url_for('user.get_user_detail', userId=user.Id)}}">
                        {{user.Id}}
                    </a>
                </td>
                <td>{{user.Name}}</td>
                <td>{{user.Gender}}</td>
                <td>{{user.Age}}</td>
                <td>{{user.Birthdate}}</td>
                <td>{{user.Address}}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}

{% block form %}
    <form action="{{url_for('user.search_user')}}">
        <input type="text" name="name" placeholder="search user" value="{{name}}">
        <select name="gender">
            <option value="" {% if not gender %}selected{% endif %}>gender</option>
            <option value="male" {% if gender == 'male' %}selected{% endif %}>male</option>
            <option value="female" {% if gender == 'female' %}selected{% endif %}>female</option>
        </select>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
{% endblock %}


{% block pagination %}
    {% include 'components/pagination.html' %}
{% endblock %}