{% extends "base.html" %}

{% block title %} users {% endblock %}

{% block header %}<h2>user page</h2>{% endblock %}


{% block content %}
    <form action="{{url_for('user.search_user')}}">
        <input type="text" name="name" placeholder="사용자 이름을 검색하세요" value="{{name}}">
        <select name="gender" value="{{gender}}">
            <option value="" disabled selected>성별 선택</option>
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <button type="submit">검색</button>
    </form>

    <table border = 1>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Address</th>
        </tr>
        {% for user in users %}
        <tr>
            <th>{{user.Id}}</th>
            <th>{{user.Name}}</th>
            <th>{{user.Gender}}</th>
            <th>{{user.Age}}</th>
            <th>{{user.Birthdate}}</th>
            <th>{{user.Address}}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}



{% block pagination %}
    <div>
    {% if page_now > 1 %}
        <a href="{{url_for('user.index', page=page_now -1 )}}">PREVIOUS |</a>
    {% else %}
        PREVIOUS 
    {% endif %}
        
    {% for i in range(-2,3) %}
        {% set page_num = page_now + i %}
            {% if ( 1 <= page_num <= total_page ) %}
                <a href="{{url_for('user.index', page=page_num )}}">{{page_num}}</a>
            {% endif %}
    {% endfor %}

    {% if 1<= page_now < total_page %}
        <a href="{{url_for('user.index', page=page_now +1 )}}">Next</a>
    {% else %}
        NEXT
    {% endif %}
    </div>
{% endblock %}
