{% extends "base.html" %}

{% block title %} user {% endblock %}

{% block header %}<h2>user page</h2>{% endblock %}


{% block content %}
    <form action="{{url_for('user.search_user')}}">
        <input type="text" name="name" placeholder="사용자 이름을 검색하세요" value="{{name}}">
        <select name="gender" value="{{gender}}">
            <option value="" disabled selected>성별 선택</option>
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <button type="submit">검색</button>
    </form>

    <table border = 1>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Address</th>
        </tr>
        {% for user in users %}
        <tr>
            <th>
                <a href="{{url_for('user.get_user_detail', userId=user.Id)}}">
                    {{user.Id}}
                </a>
            </th>
            <th>{{user.Name}}</th>
            <th>{{user.Gender}}</th>
            <th>{{user.Age}}</th>
            <th>{{user.Birthdate}}</th>
            <th>{{user.Address}}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}



{% block pagination %}
    <div>
    {% if 1<page_now <= total_page %}
        <a href="{{url_for('user.index', page=page_now -1)}}">Previous</a>
    {% else %}
        Previous
    {% endif %}
    
    {% if page_now <= 2 %}
        {% set start=1 %}
        {% set stop=6 %}
    {% elif total_page-1<=page_now==total_page %}
        {% set start=total_page-4 %}
        {% set stop=total_page+1 %}
    {% else %}
        {% set start=page_now-2 %}
        {% set stop=page_now+3 %}
    {% endif %}       
     
    {% for i in range(start,stop) %}
        {% if 0<i<=total_page+1 %}
            <a href="{{url_for('user.index', page=i)}}">{{i}}</a>
        {% endif %}
    {% endfor %}

    {% if page_now < total_page %}
        <a href="{{url_for('user.index', page=page_now+1)}}">Next</a>
    {% else %}
        Next
    {% endif %}
    </div>
{% endblock %}
