{% extends 'base.html' %}

{% block title %}item detail{% endblock %}

{% block header %}<h2>item detail page</h2>{% endblock %}

{% block content %}
    <table>
        <tr>
            {% for key, value in item.items() %}
                {% if key == 'Name' or key == 'UnitPrice' %}
                    <th>{{key}}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in item.items() %}
                {% if key == 'Name' or key == 'UnitPrice' %}
                    <th>{{value}}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    <br>
    <table>
            <tr>
                <th>Month</th>
                <th>Total Revenue</th>
                <th>Item Count</th>
            </tr>
            {% for row in rev %}
            <tr>
                {% for value in row.values() %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </table>
{% endblock %}