{% extends 'base.html' %}

{% block title %}item{% endblock %}

{% block header %}<h2>item</h2>{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>UnitPrice</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="{{url_for('item.get_item_detail', itemId =item.Id)}}">{{ item.Id }}</a></td>
            <td>{{ item.Name }}</td>
            <td>{{ item.Type }}</td>
            <td>{{ item.UnitPrice }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
