{% extends 'base.html' %}

{% block title %}orderitem detail{% endblock %}

{% block header %}<h2>orderitem detail </h2>{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Id</th>
        <th>OrderId</th>
        <th>ItemId</th>
        <th>ItemName</th>       
    </tr>
    {% for orderitem in orderitems %}
    <tr>
        <th>{{orderitem.Id}}</th>
        <th>
            <a href="{{url_for('order.get_order_detail', orderId=orderitem.OrderId)}}">{{orderitem.OrderId}}</a> 
        </th>
        <th>
            <a href="{{url_for('item.get_item_detail', itemId=orderitem.ItemId)}}">{{orderitem.ItemId}}</a>            
        </th>
        <th>{{orderitem.Name}}</th>
    </tr>
    {% endfor %}
</table>
{% endblock %}