{% extends 'base.html'%}

{% block title %}orderitem{% endblock %}

{% block header %}<h2>orderitem </h2>{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Id</th>
            <th>OrderId</th>
            <th>ItemId</th>
        </tr>
        {% for orderitem in orderitems %}
        <tr>
            <td>{{orderitem.Id}}</td>
            <td>
                <a href="{{url_for('order.get_order_detail', orderId=orderitem.OrderId)}}">{{orderitem.OrderId}}</a>               
            </td>
            <td>
                <a href="{{url_for('item.get_item_detail', itemId=orderitem.ItemId)}}">{{orderitem.ItemId}}</a>               
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block pagination %}
    {% include 'components/pagination.html' %}
{% endblock %}