{% extends 'base.html'%}

{% block title %}orderitem{% endblock %}

{% block header %}<h2>orderitem </h2>{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Id</th>
            <th>OrderId</th>
            <th>ItemId</th>
        </tr>
        {% for orderitem in orderitems %}
        <tr>
            <td>{{orderitem.Id}}</td>
            <td>
                <a href="{{url_for('order.get_order_detail', orderId=orderitem.OrderId)}}">{{orderitem.OrderId}}</a>               
            </td>
            <td>
                <a href="{{url_for('item.get_item_detail', itemId=orderitem.ItemId)}}">{{orderitem.ItemId}}</a>               
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block pagination %}
    <div class="pagination">
        {% if 1 < page_now <= total_page %}
            <a href="{{url_for('orderitem.index', page=page_now+1)}}"><</a>
        {% else %}
            <
        {% endif %}

        {% if page_now <= 2 %}
            {% set start = 1 %}
            {% set stop = 6 %}
        {% elif (page_now == total_page) or (page_now == total_page-1) %}
            {% set start = total_page-4 %}
            {% set stop = total_page+1 %}
        {% else %}
            {% set start = page_now-2 %}
            {% set stop = page_now+3 %}
        {% endif %}
        
        {% for i in range(start,stop) %}
            {% if 1 <= i <= total_page+1 %}
                <a href="{{url_for('orderitem.index', page=i)}}">{{i}}</a>
            {% endif %}
        {% endfor %}

        {% if 1 <= page_now < total_page %}
            <a href="{{url_for('orderitem.index', page=page_now+1)}}">></a>
        {% else %}
            >
        {% endif %}

    </div>
{% endblock %}