{% extends 'base.html' %}

{% block title %}start add{% endblock %}

{% block header %}<h2>put your info</h2>{% endblock %}

{% block form %}
    <div class="user_wrapper">
        <form>
            <div class="name_wrapper">
                <input type="text" name="name" placeholder="your name">
            </div>
            <div class="gender_wrapper">
                <select name="gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </div>
            <div class="birthdate_wrapper">
                <input type="text" name="birthdate" placeholder="2000-01-01">
            </div>
            <div class="btn_wrapper"><button class="user_add_btn">add</button></div>
        </form>
    </div>
{% endblock %}