<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="#">User</a>
        <a href="#">Store</a>
        <a href="#">Item</a>
        <a href="#">Order</a>
        <a href="#">OrderItem</a>
    </nav>

    {% block header %}{% endblock %}


    <form action="{{url_for('search_user')}}">
        <input type="text" name="name" placeholder="사용자 이름을 검색하세요" value="{{name}}">
        <select name="gender">
            <option value="" disabled selected>성별 선택</option>
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <button type="submit">검색</button>
    </form>
    
    {% block content %}{% endblock %}

    {% block pagination %}{% endblock %}
</body>
</html>