{% extends "base.html" %}

{% block title %} user {% endblock %}

{% block header %}
<h2>user page</h2>
{% endblock %}


    {% block content %}                    
        <table border = 1>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Birthdate</th>
                <th>Address</th>
            </tr>
            {% for user in users %}
            <tr>
                <th>{{user.Id}}</th>
                <th>{{user.Name}}</th>
                <th>{{user.Gender}}</th>
                <th>{{user.Age}}</th>
                <th>{{user.Birthdate}}</th>
                <th>{{user.Address}}</th>
            </tr>
            {% endfor %}
        </table>
    {% endblock %}

    

    {% block pagination %}
        <div>
        {% if page_now > 1 %}
            <a href="{{url_for('index', page=page_now -1 )}}">PREVIOUS |</a>
        {% else %}
            PREVIOUS 
        {% endif %}
            
        {% for i in range(-2,3) %}
            {% set page_num = page_now + i %}
                {% if page_num >=1 %}
                    <a href="{{url_for('index', page=page_num )}}">{{page_num}}</a>
                {% endif %}
        {% endfor %}

        {% if page_now < div  %}
            <a href="{{url_for('index', page=page_now +1 )}}">NEXT</a>
        {% elif  (page_now == div) and mod == 0 %}
            NEXT
        {% elif  (page_now == div) and mod != 0 %}
            <a href="{{url_for('index', page=page_now + 1)}}">NEXT</a>
        {% else %}
            NEXT
        {% endif %}
        </div>
    {% endblock %}
